<!DOCTYPE html>
<html>
    <head>
        <title>cookie clicking</title>
        <style>
            
        </style>
    </head>
    <body>
        <h2>click dem cookies{{user}}</h2>
        <p id="id_display"></p>
        <button type="button" onclick="increment_and_update()"><img src="./img/cookies.jpeg" width=200></button>
        <p>You have {{visited}} sessions left.</p>
        <script type="text/javascript" src="js/set_cookie.js"></script>
    </body>
</html>