<!DOCTYPE html>
<html>
    <head>
        <title>Please login!</title>
    </head>
    <body>
        <p>You have to login to keep playing!</p>
        <a href="https://user.tjhsst.edu/2023tkalisip">Go back home</a>
    </body>
</html>