<!DOCTYPE html>
<html>
    <head>
        <title>Facts for number {{number}}</title>
    </head>
    <body>
        <ul>
        {{#each facts}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    </body>
</html>