<!DOCTYPE html>
<html>
    <head>
        <title>Number Facts!</title>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
        div {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        p {
            color: #9000f7;
        }
        .font {
            font-family: 'Work Sans', sans-serif;
            text-align: center;
        }
        h2 {
            font-size: 1.5rem;
            display: inline;
            color: #6699ff;
        }
        </style>
    </head>
    <body>
        <div>
            <h2 class="font">
                Welcome to Number Facts!
            </h2>
            <p class="font">
                Please input a number from 1 to 3 after the /numberfacts/!
            </p>
        </div>
    </body>
</html>