<!DOCTYPE html>
<html>
<head>
    <title>home page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
        
        div {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        a {
            font-size: 1rem;
            color: #9000f7;
        }
        .font {
            font-family: 'Work Sans', sans-serif;
            text-align: center;
        }
        h2 {
            font-size: 1.5rem;
            display: inline;
            color: #6699ff;
        }
        a:hover {
            color: #ff00ff;
        }
    </style>
</head>
<body>
    <a href={{login_link}}>Login with Ion</a>
    <div>
        <h2 class="font">TANMAI's LABS</h2>
        <a href="https://user.tjhsst.edu/2023tkalisip/ml_form"><p class="font">MADLIBS</p></a>
        <a href="https://user.tjhsst.edu/2023tkalisip/numberfacts"><p class="font">NUMBERFACTS</p></a>
        <a href="https://user.tjhsst.edu/2023tkalisip/weather_form"><p class="font">WEATHER</p></a>
        <a href="https://user.tjhsst.edu/2023tkalisip/nba_voting"><p class="font">WHO'S THE GOAT?</p></a>
        <a href="https://user.tjhsst.edu/2023tkalisip/cookie"><p class="font">COOKIES</p></a>
    </div>
</body>
</html>